# Prerequisites
*.d
*.txt
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# MacOS DS_Store
**/.DS_Store

# Build
build/

# Data
data/nms_yolov8n/
data/nms_yolov8n_output_FasterNMS/
data/nms_yolov8n_output_FastNMS/
data/nms_yolov8n_output_GreedyNMS/


